<%= form_for @message, html: {class: "form"}, remote: true do |f| %>
  <%= render 'layouts/errors', :object => @message %>

  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: "form-control" %>
  </div>

    <%= f.hidden_field :latitude, :value => @user.latitude %>
    <%= f.hidden_field :longitude, :value => @user.longitude %>

  <%= f.submit "Submit", class: "btn btn-lg btn-primary", id: "messageSubmit" %>
<% end %>
